<div id="header">
        <mat-toolbar class="toolbar">
          <span class="logo">This is Tool Bar</span>
          <span class="filler"></span>
          <!-- <span>About</span> -->
        </mat-toolbar>
      </div>
      <div id="row2">
            <!-- <div class="sidenav">
              <mat-grid-list cols="3" id="content">
                <mat-grid-tile color="red" [colspan]="3" [rowspan]="2" class="stepper">
                  <div class="stepper-title">Analyze your<br>MRO Spend<br>
                    <span class="stepper-desc">It’s Easy and takes less than a minute</span>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile color="red" [colspan]="3" [rowspan]="2" class="stepper">
                  <div class="stepper-title">
                    <span class="stepper-desc-copyright">Copyright 2019</span>
                    </div>
                </mat-grid-tile>
              </mat-grid-list>
            
            </div>
         -->
            <div class="main-content">
              <div class="login-form-align">
                <router-outlet></router-outlet>
                <app-login></app-login>
              </div>
            </div>
          </div>
       
        